.flexContainer {
    display:flex;
    width: 25%;
}

.topMargin {
    margin:50px 0px;
}

.buttonMargin {
    margin: 10px 0px;
}

.fieldContainer {
    border-radius:8px;
    border: 3px solid blue;
    background-color:  #F8F8FF;
    width: 100px;
    height: 5%;
    margin: 10px 10px;
    
    justify-content: center;
    text-align: center;
}

.fieldContainer p{
    margin: 10px 0px;
}

.fieldContentContainer {
    border-radius:8px;
    border: 3px solid blue;
    background-color:  #F8F8FF;
    width: 120%;
    height: 5%;
    margin: 10px 10px;
    justify-content: center;
    text-align: center;
}

.fieldContentContainer p{
    margin: 10px 0px;
}