.projectContainer {
    width: 100%;
}

.projectContainerBox{
    border-radius:8px;
    border: 3px solid blue;
    background-color:  #F8F8FF;
    width: 20%;
    height: 5%;
    margin: 14px 0px;
}

.projectContainerBox p {
    text-align:center;
    margin:5px 5px;
}

.projectDescriptionBox{
    border-radius:8px;
    border: 3px solid blue;
    background-color:  #F8F8FF;
    width: 80%;
    margin: 14px 0px;
}

.projectDescriptionBox p{
    text-align: left;
    margin: 2% 5%;
}