


.button{
  
  width: 145px;
  height: 67px;
  background-color: #56CCF2;
  color: #4F4F4F;
  font-size: 22px;;
  border-radius: 28.9px;
  border: 3px solid #E0E0E0;
  outline: none;
  font-family: 'Roboto', sans-serif;
}


.button:hover {
    color: #F8F8FF;
    background-color: #001F3D;
    border: 2px solid #BED8FC;
}